<!-- The title of the ion-view will be shown on the navbar -->
<ion-view title="Memory Game" ng-controller="MainCtrl"  class="body">

  <ion-content class="padding">

      <div class="game-menu">
        <div class="game-menu-item">
          <button class="button button-block button-balanced" ng-click="startGame()">Start Game</button>
        </div>
      
        <div class="game-menu-item">
          <button class="button button-block button-balanced" ng-click="gameOptions()">Number of Pairs: <strong> {{ numPairs }} </strong></button>
        </div>


        <div class="game-menu-item">
          <button class="button button-block button-balanced" ng-click="gameCards()">Game Cards <strong> {{ cardsName }} </strong></button>
        </div>

      </div>

  </ion-content>

</ion-view>